@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

.footer {
  text-align: center;
  display: block;
  color: #fff;
}
.footer a {
  text-decoration: none;
  color: #fff;
}

#quote-box {
  position: relative;
  display: table;
  background-color: #fff;
}
#quote-box .quote-text {
  text-align: center;
  clear: both;
}
#quote-box .quote-text i {
  font-size: 1em;
  margin-right: 0.4em;
}
#quote-box .quote-author {
  clear: both;
  font-size: 1em;
  text-align: right;
}
#quote-box .buttons {
  display: block;
}
#quote-box .buttons .button {
  border: none;
  color: #fff;
  background-color: #333;
  outline: none;
  opacity: 1;
  cursor: pointer;
}
#quote-box .buttons .button:hover {
  opacity: 0.9;
}
#quote-box .buttons .button#new-quote {
  float: right;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 10vh;
}

*::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
*{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

html {
    max-width: 100vw;
}

/* Nav */

.nav {
    height: 10vh;
    position: fixed;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3vw;
    padding-right: 3vw;
    width: 100vw;
    background-color: #3ebeff;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3vw;
}

.nav-list > li {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
}

.nav-link > button {
    background-color: hsl(0, 0%, 100%);
    color: black;
    border-radius: 20px;
    border: none;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 12px;
    padding: 1.5vh 2vw;
}

.nav-link > button:hover {
    background-color: hsl(0, 0%, 100%, 0.3);
    color: hsl(0, 0%, 100%);
}

.nav-hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: hsl(0, 0%, 100%);
}

/* Home */

.home {
    background-image: url(./images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.home-title {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: hsl(0, 0%, 100%);
    position: absolute;
    top: 20vh;
    letter-spacing: 1vw;
    font-size: 40px;
}

.home > a {
    margin-top: 44vh;
}

.home-arrow {
    height: 15vh;
}

/* About */

.about {
    height: 132vh;
    background-color: #fffbf8;
}

.about-section {
    height: 66vh;
    width: 100vw;
    display: flex;
}

.about-item {
    width: 50vw;
    height: 66vh;
}

.about-item > h1 {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: hsl(212, 27%, 19%);
    font-size: 34px;
    padding-bottom: 4vh;
}

.about-item > p {
    font-family: 'Barlow', sans-serif;
    color: #82808b;
    font-size: 14px;
    padding-bottom: 4vh;
}

.about-item > a {
    text-decoration: none;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: hsl(212, 27%, 19%);
    font-size: 14px;
}

.yellow:hover {
    text-decoration: underline hsl(51, 100%, 49%) dotted 1vh;
}

.pink:hover {
    text-decoration: underline hsl(7, 99%, 70%) dotted 1vh;
}

.about-item {
    padding-top: 15vh;
    padding-bottom: 15vh;
}

.left {
    padding-left: 11vw;
    padding-right: 8vw;
}

.right {
    padding-right: 11vw;
    padding-left: 8vw;
}

.egg {
    background-image: url(./images/desktop/./image-transform.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.glass {
    background-image: url(./images/desktop/./image-stand-out.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* Services */
.services {
    height: 66vh;
}

.services-section {
    height: 66vh;
    width: 100vw;
    display: flex;
}

.services-item {
    height: 66vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.services-item > h1 {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 22px;
}

.services-item > p {
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
}

.cyan {
    color: hsl(167, 40%, 24%);
}

.blue {
    color: hsl(198, 62%, 26%);
}

.cherry {
    background-image: url(./images/desktop/./image-graphic-design.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}


/* Projects */

.projects {
    height: 100vh;
    width: 100vw;
    background-color: #fffbf8;
}

.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.projects-container > h1 {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: #a9aaab;
    font-size: 24px;
    letter-spacing: 0.3vw;
    padding-top: 20vh;
    padding-bottom: 10vh;
}

.projects-reviews {
    display: flex;
    flex-direction: row;
    padding: 0 10vw;
    height: 60vh;
}

.projects-review {
    padding: 0 2vw;
    font-family: 'Barlow', sans-serif;
}

.projects-review > img {
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

.projects-review > p {
    padding-top: 6vh;
    color: #616265;
    font-size: 16px;
    padding-bottom: 6vh;
}

.projects-review > h1 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 18px;
    color: #282e37;
}

.projects-review > h2 {
    color: #a9aaab;
    padding-top: 1vh;
    font-size: 13px;
}

/* Contact */

.contact {
    height: 100vh;
    width: 100vw;
    background-color: #91d3c5;
}

.contact-images {
    height: 55vh;
    width: 100vw;
    display: flex;
}

.contact-image {
    height: 55vh;
    width: 25vw;
}

.milk {
    background-image: url(./images/desktop/./image-gallery-milkbottles.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bowl {
    background-image: url(./images/desktop/./image-gallery-orange.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cone {
    background-image: url(./images/desktop/./image-gallery-cone.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.sugar {
    background-image: url(./images/desktop/./image-gallery-sugarcubes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.contact-links {
    width: 100vw;
    height: 45vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contact-links > a > img {
    width: 100%;
    padding-left: 45vw;
    padding-right: 45vw;
    filter: brightness(0) saturate(100%) invert(27%) sepia(43%) saturate(486%) hue-rotate(116deg) brightness(92%) contrast(91%);
}

.contact-links > .nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 7vh;
    padding-left: 40vw;
    padding-right: 40vw;
}

.contact-links > .nav-list > li {
    list-style: none;
}

.contact-links > .nav-list > li > .nav-link {
    text-decoration: none;
    color: hsl(168, 34%, 41%);
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
}

.contact-links > .nav-list > li > .nav-link:hover {
    color: hsl(0, 0%, 100%)
}

.contact-socials {
    text-align: center;
    padding-top: 10vh;
}

.contact-socials > i {
    color: #25564b;
    font-size: 22px;
    padding-left: 0.75vw;
    padding-right: 0.75vw;
}

.contact-socials > i:hover {
    color: hsl(0, 0%, 100%);
}

/* Responsive */
@media only screen and (max-width: 600px) {
    
    /* Home Mobile */

    .home{
        background-image: url(./images/mobile/image-header.jpg);
    }

    .home-title {
        text-align: center;
    }

    .about {
        height: 200vh;
        flex-direction: column;
    }

    .about-section {
        height: 100vh;
        text-align: center;
    }

    .one {
        flex-direction: column-reverse;
    }

    .two {
        flex-direction: column;
    }

    .left {
        height: 60vh;
        width: 100vw;
    }

    .egg {
        height: 40vh;
        width: 100vw;
        background-image: url(./images/mobile/image-transform.jpg);
    }

    .right {
        height: 60vh;
        width: 100vw;
    }

    .glass {
        height: 40vh;
        width: 100vw;
        background-image: url(./images/mobile/image-stand-out.jpg);
    }

    .services {
        height: 200vh;
    }

    .services-section {
        height: 200vh;
        flex-direction: column;
    }

    .services-item {
        height: 100vh;
        width: 100vw;
        padding-left: 3vw;
        padding-right: 3vw;
    }

    .cherry {
        height: 100vh;
        width: 100vw;
    }

    .orange {
        height: 100vh;
        width: 100vw;
    }

    .services-item > h1 {
        font-size: 26px;
        padding-top: 45vh;
        padding-bottom: 5vh;
    }

    .services-item > p {
        line-height: 4vh;
    }

    .projects {
        height: 200vh;
    }

    .projects-container {
        height: 200vh;
        flex-direction: column;
    }

    .projects-title {
        padding-top: 10vh !important;
        height: 10vh;
        font-size: 18px !important; 
        letter-spacing: 1vw !important; 
    }

    .projects-reviews {
        height: 180vh;
        padding-bottom: 5vh;
        flex-direction: column;
        margin-left: 10vw;
        margin-right: 10vw;
        padding: 0 0;
    }

    .projects-review {
        height: 60vh;
        width: 100vw;
        padding: 0 5vw !important;
    }

    .projects-review > p {
        line-height: 4vh;
    }

    .contact {
        height: 100vh;
    }

    .contact-images {
        height: 50vh;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100vw;
    }

    .contact-image {
        height: 50%;
        width: 50%;
    }

    .milk {
        background-image: url(./images/mobile/image-gallery-milkbottles.jpg);
    }

    .bowl {
        background-image: url(./images/mobile/image-gallery-orange.jpg);
    }

    .cone {
        background-image: url(./images/mobile/image-gallery-cone.jpg);
    }

    .sugar {
        background-image: url(./images/mobile/image-gallery-sugar-cubes.jpg);
    }

    .contact-links {
        height: 50vh;
    }

    .contact-links > a > img {
        width: 100%;
        padding-left: 30%;
        padding-right: 30%;
    }

    .contact-links > .nav-list {
        padding-left: 10vw;
        padding-right: 10vw;
        padding-top: 5vh;
    }

    .contact-links > .nav-list > li > .nav-link {
        font-size: 18px;
    }

    .contact-links > .contact-socials {
        letter-spacing: 0vw;
    }

    .contact-links > .contact-socials > i {
        padding-left: 2vw;
        padding-right: 2vw;
    }

    /* Nav & Hamburger Mobile */

    .nav.burger {
        min-height: 10vh;
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .nav-hamburger {
        display: block;
    }

    .nav-hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .nav-hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .nav-hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-list.burger {
        left: -100%;
        position: fixed;
        top: 10vh;
        gap: 0;
        flex-direction: column;
        background-color: hsl(0, 0%, 100%);
        width: 80%;
        text-align: center;
        transition: 0.3s;
        margin-top: 4vh;
        height: 35vh;
        margin-left: 10vw;
        margin-right: 10vh;
        justify-content: space-evenly;
    }

    .nav-link.burger {
        color: #82808b !important;
        font-size: 16px;
    }

    .nav-link.burger > button {
        background-color: hsl(51, 100%, 49%);
        font-size: 12px;
        padding: 2vh 4vw;
    }

    .nav-list.burger.active::before {
        content: '';
        position: absolute;
        bottom: 100%;
        right: 0px;
        border: 11px solid transparent;
        border-bottom-color: hsl(0, 0%, 100%);
        border-right-color: hsl(0, 0%, 100%);
    }

    .nav-item.burger {
        margin: 16px 0;
    }

    .nav-list.burger.active {
        left: 0;
    }

    .nav-link.burger {
        color: black;
        font-weight: 700;
    }

}
