@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');
.footer {
  text-align: center;
  display: block;
  color: #fff;
}
.footer a {
  text-decoration: none;
  color: #fff;
}

#quote-box {
  position: relative;
  display: table;
  background-color: #fff;
}
#quote-box .quote-text {
  text-align: center;
  clear: both;
}
#quote-box .quote-text i {
  font-size: 1em;
  margin-right: 0.4em;
}
#quote-box .quote-author {
  clear: both;
  font-size: 1em;
  text-align: right;
}
#quote-box .buttons {
  display: block;
}
#quote-box .buttons .button {
  border: none;
  color: #fff;
  background-color: #333;
  outline: none;
  opacity: 1;
  cursor: pointer;
}
#quote-box .buttons .button:hover {
  opacity: 0.9;
}
#quote-box .buttons .button#new-quote {
  float: right;
}
